/* 
    Created on : Jan 29, 2016, 10:48:44 AM
    Author     : sirromas
*/


@media (max-width: 320px) {    

    .search_container, #login_div, .register_container {
        margin-right: 125px;
    }
    #register_table {
        width: 75%;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    #home-carousel {
        
    }

}

@media (min-width: 768px) {
    .search_container, #login_div {
        width: 20%;
    }

}

.form_div {
    margin: 0 auto; 
    width:80%;    
    text-align:center;    
    vertical-align: middle;
}

.form_div input[type=text], textarea {
    width: 140px;
}


@media (max-width: 768px) {

    .form_div input[type=text], textarea {
        width: 75px;
    }

    .span2 {
        margin-left: 3px;
    }
}

.carousel-img1 {
    background-image: url(http://cnausa.com/assets/img/image.png);
    height: 375px;
}

.carousel-img2 {
    background-image: url(http://cnausa.com/assets/img/16.jpg);
    height: 375px;
}

