/* 
    Created on : Jan 29, 2016, 10:48:44 AM
    Author     : sirromas
*/


@media (max-width: 320px) {	
    #input_search_box, #login_div, #password_box  {        
        width: 140px;
    }
    .search_container, #login_div, .register_container {
        margin-right: 125px;
    }
    #register_table {
        width: 75%;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    #input_search_box, #login_box, #password_box  {        
        width: 140px;
    }   

}

@media (min-width: 768px) {
    .search_container, #login_div {
        width: 20%;
    } 
}

.form_div {
    margin: 0 auto; 
    width:80%;    
    text-align:center;    
    vertical-align: middle;
}

